Language: Cpp

UseTab: Never
IndentWidth: 4
IndentCaseLabels: false
ColumnLimit: 0
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
FixNamespaceComments: true
NamespaceIndentation: None
Standard: c++20
CompactNamespaces: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  SplitEmptyFunction: false
  AfterClass: true
  AfterFunction: true
  AfterNamespace: false
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyRecord: false
PointerAlignment: Left
SortIncludes: Never
